footer {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        text-decoration-line: underline;
        text-decoration-color: $mustard;
        text-decoration-thickness: 3%;
        text-underline-offset: 10px;
    }
}